.article-list {
    /* border: 2px solid black; */
    width: auto;
    height: auto;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.content {
    margin: 20px;
    width: 120vh;
    height: 12vh;
    padding: 20px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
}

.label-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}