.first-container {
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.article {
    height: 90vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin: 50px 30px 30px 30px;
    width: 50%;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
}


.comments-upVotes {
    width: 550px;
    height: 450px;
    flex-direction: column;
    border: 2px solid black;
    margin: 60px 20px 0px 30px;
    background-color: blanchedalmond;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.add-comment {
    border: 2px solid black;
    width: 85%;
    height: 45%;
}

.display-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.comment-container {
    border: 2px solid black;
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px 10px 10px 10px;
    background-color: aqua;

}

.upVotes-container {
    border: 2px solid black;
    height: 150px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 10px;

}

.second-container {
    height: auto;
    width: auto;
    margin: 20px;
    background-color: azure
}