.nav-container {
    border: 2px solid #333;
    /* Darker border color for better visibility */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Use space-between for equal spacing between elements */
    height: 10vh;
    align-items: center;
    background-color: #f0f0f0;
    /* Light background color */
    padding: 0 20px;
    /* Add some padding for space around the content */
}



.links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}

.link {
    text-decoration: none;
    color: #333;
    /* Dark text color */
    font-size: 16px;
    /* Slightly smaller font size */
    padding: 10px 20px;
    /* Increase padding for better clickability */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* Smooth transition on hover */
}

.link:hover {
    background-color: #ddd;
    /* Lighter background color on hover */
}

.addArticle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    /* Dark button color */
    width: 120px;
    /* Fixed width for the button */
}

.addArticle-container:hover {
    background-color: #555;
    /* Darker button color on hover */
}

.addArticle {
    text-decoration: none;
    color: #fff;
    /* White text color */
    font-size: 16px;
    /* Font size */
    padding: 10px 20px;
    /* Padding */
    border-radius: 5px;
}

.addArticle:hover {
    text-decoration: underline;
    /* Underline on hover */
}